/* app css stylesheet */
body {background-color:#5B9CA2;}

.hike-box{
    background-color:#F5F1D8;
    width:90%;
    padding:10px;
    border:5px;
    border-style:solid;
    border-color:#B52735;
    margin:10px;
}