/* app css stylesheet */

body {
  padding-top: 20px;
}

tr:nth-child(odd)   { background-color:#dddddd; }
tr:nth-child(even)    { background-color:#eeeeee; }

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  width: 200px;
}

.tooltip-inner {
  max-width: 400px !important;
  text-align: left !important;
}

.hike_table {
    border-spacing:50px !important;
}

.hike_table td {
    padding-left:10px;
    padding-right:10px;
}

.loading-container {
    position: relative;
}

.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}

.loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
}
