<!doctype html>
<html lang="en" ng-app="hikeWithBenApp">
  <head>
    <meta charset="utf-8">
    <title>HikeWithBen Hiking List</title>
    <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <script data-require="angular-mocks@1.2.0-rc3" data-semver="1.2.0-rc3" src="//code.angularjs.org/1.2.0-rc.3/angular-mocks.js"></script>
    <script data-require="angular-resource@1.2.0-rc.3" data-semver="1.2.0-rc.3" src="http://code.angularjs.org/1.2.0-rc.3/angular-resource.js"></script>
    <script data-require="angular-sanitize@1.2.0-rc.3" data-semver="1.2.0-rc.3" src="http://code.angularjs.org/1.2.0-rc.3/angular-sanitize.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css">
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="HikeListCtrl">
    <div width="100%" align="center">
    <div align="left" class="hike-box" ng-repeat="hike in hike_list">
      <h3 align="center">{{hike.hike_location_name}}</h3>
      <h5 align="center">{{hike.hike_start_datestring}} - {{hike.hike_end_datestring}}</h5>
      Spots remaining: {{hike.hike_total_capacity}}<br />
      Location: <a href="http://maps.google.com/?q={{hike.hike_location_latitude}},{{hike.hike_location_longitude}}">{{hike.hike_location_latitude}}, {{hike.hike_location_longitude}}</a><br />
      <span ng-if="hike.hike_hazards">Hazards: {{hike.hike_hazards}}<br /></span>
      <a ng-if="hike.hike_route_url" href="{{hike.hike_route_url}}">Route</a><br ng-if="hike.hike_route_url" />
      <span ng-if="hike.hike_notes">Notes: {{hike.hike_notes}}<br /></span>
      <center><iframe width="80%" height="600" ng-if="hike.hike_pictures_url" ng-src="{{trustSrc(hike.hike_pictures_url)}}"></iframe></center>
    </div>
    </div>
  </body>
</html>