<!doctype html>
<html lang="en" ng-app="hikeWithBenApp">
  <head>
    <meta charset="utf-8">
    <title>HikeWithBen Hiking List</title>
    <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <script data-require="angular-mocks@1.2.0-rc3" data-semver="1.2.0-rc3" src="//code.angularjs.org/1.2.0-rc.3/angular-mocks.js"></script>
    <script data-require="angular-resource@1.2.0-rc.3" data-semver="1.2.0-rc.3" src="http://code.angularjs.org/1.2.0-rc.3/angular-resource.js"></script>
    <script data-require="angular-sanitize@1.2.0-rc.3" data-semver="1.2.0-rc.3" src="http://code.angularjs.org/1.2.0-rc.3/angular-sanitize.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css">
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="HikeListCtrl">
    <div class="container-fluid">
      <div class="row-fluid">
        <!--Body content-->
        <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" class="table" width="100%">
          <tr>
            <th>Hike Location Name</th>
            <th>Reservation Status</th>
            <th>Total Capacity</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Hike Start Datetime</th>
            <th>Pics</th>
            <th>Route</th>
            <th>Notes</th>
            <th>End Datetime</th>
            <th>Hazards</th>
          </tr>
          <tr ng-repeat="hike in hike_list" ng-click="display.hike = hike">
            <td>{{hike.hike_location_name}}</td>
            <td>{{hike.hike_reservation_status}}</td>
            <td>{{hike.hike_total_capacity}}</td>
            <td>{{hike.hike_location_latitude}}</td>
            <td>{{hike.hike_location_longitude}}</td>
            <td>{{hike.hike_start_datetime}}</td>
            <td>{{hike.hike_pictures_url}}</td>
            <td>{{hike.hike_route_url}}</td>
            <td>{{hike.hike_notes}}</td>
            <td>{{hike.hike_end_datetime}}</td>
            <td>{{hike.hike_hazards}}</td>
          </tr>
        </table>
        </div>
      </div>
    </div>
  </body>
</html>